<!-- これはtop -->
<body style="background-color:#e6e6e6;">
  <div class="header">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 head"><!-- image_tag 'logo.png',:style=>"height:60px; width:60px; margin-top:-10px;" --> MiRACOLO </div>
      <div class="col-xs-6 col-md-3 col-lg-3 login"><%= link_to "Log in", login_path, :style=> "color:white;" %></div>
      <div class="col-xs-6 col-md-3 col-lg-3 signup"><%= link_to "Sign up", users_new_path, :style=> "color:white;" %></div>
      <div class="col-xs-6 col-md-3 col-lg-3 about"><a href="#abou" style="color:white;"> About</a></div>
      <div class="col-xs-6 col-md-3 col-lg-3 producer"><a href="#produce" style="color:white;"> Producer</a></div> 
      <div class=" col-xs-12 col-md-12 col-lg-12  " style="background-color: #1b1464; height:600px;">
        <h1 class="mozi "><a href="" style="color:white;">Dream is come true. </a> </h1>
        <h2 class="mozi2 ">It's not destiny, but Miracle!</h2>
      </div>
    </div> 
  </div>

<div class="row">
   <div class="col-xs-12 col-md-12 col-lg-12 " >
  <h1 class="mozi3-1" style="color: #1b1464;" id="abou">ABOUT</h1>
  </div>
    <div class="col-xs-12 col-md-12 col-lg-12 " >
      <div class="col-xs-12 col-md-4 col-lg-4"> 
        <div class="col-xs-12 col-md-12 col-lg-12 about1" >
          <h2 class="mozi3 ">What is Miracolo?</h2>
          <p class="mozi3-3 ">MIRACOLOとは、あなたの夢をサポートするツールです。Miracoloはあなたの夢をサポートします。</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4 ">
        <div class="col-xs-12 col-md-12 col-lg-12 about2">
          <h2 class="mozi3 ">Who uses Miracolo?</h2>
          <p class="mozi3-3 ">誰が使うかって？それは、夢を持つ人全員ですよ。あなたにも叶えたい夢はないですか？</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4 ">
        <div class="col-xs-12 col-md-12 col-lg-12 about3" >
          <h2 class="mozi3 ">How to use Miracolo</h2>
          <p class="mozi3-3 ">あなたの夢に応じた目標と期限を設定するだけでOK 。もし期限が難しいなと思ったら変更もできます。サボるために使わないように要注意。</p>
        </div>
      </div>
         <div class="col-xs-12 col-md-12 col-lg-12 " >
         <h1 class="mozi3-2" style="color: #1b1464;" id="produce">PRODUCER</h1>
         </div>
    <div class="col-xs-12 col-md-12 col-lg-12 "style="height:500px" >
      <div class="col-xs-12 col-md-4 col-lg-4"> 
        <div class="col-xs-12 col-md-12 col-lg-12 about1" >
          <h2 class="mozi3 ">ジャスティンビーバー</h2>
          <p class="mozi3-3 ">MIRACOLOとは、あなたの夢をサポートするツールです。Miracoloはあなたの夢をサポートします。</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4 ">
      <div class="col-xs-12 col-md-12 col-lg-12 about2">
        <h2 class="mozi3 ">イニエスタ</h2>
        <p class="mozi3-3 ">誰が使うかって？それは、夢を持つ人全員ですよ。あなたにも叶えたい夢はないですか？</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 ">
      <div class="col-xs-12 col-md-12 col-lg-12 about3" >
        <h2 class="mozi3 ">ジョニーデップ</h2>
        <p class="mozi3-3 ">あなたの夢に応じた目標と期限を設定するだけでOK 。もし期限が難しいなと思ったら変更もできます。サボるために使わないように要注意。</p>
      </div>
    </div>
    </div>
  </div>

</div>